<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/student.css">
    <title>List of Students | SMS</title>
</head>
<body>
    <table>
        <caption>Student List</caption>
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Batch</th>
            <th scope="col">Gender</th>
            <th scope="col">Department</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            <% if (students.length === 0) { %>
                <tr>
                    <td colspan="8">No data found</td>
                </tr>
            <% } else { %>
                <% students.forEach(function(rows) { %>
                    <tr>
                        <td><%= rows.student_id %></td>
                        <td><%= rows.student_name %></td>
                        <td><%= rows.student_batch %></td>
                        <td><%= rows.student_gender %></td>
                        <td><%= rows.student_department %></td>
                        <td><%= rows.student_phone %></td>
                        <td><%= rows.student_email %></td>
                        <td style="text-align: left;">
                          <form action="/update-students/<%= rows.student_id %>" method="get" style="display: inline;">
                              <button class="edit-btn" style="margin-right: 10px;"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
                          </form>
                          <form action="/delete-students/<%= rows.student_id %>" method="get" style="display: inline;">
                              <button class="delete-btn"><i class="fa fa-trash"></i>&nbsp;Delete</button>
                          </form>
                      </td>                                
                    </tr>
                <% }); %>
            <% } %>
        </tbody>
      </table>
      <div class="pagination">
        <!-- Pagination controls here -->
        <!-- Example: Previous | 1 | 2 | 3 | Next -->
    </div>
    <div class="total-count">
        Total records: <%= students.length %>
    </div>
</body>
</html>
